<template>
  <v-container fluid pt-0 pb-0>
    <v-row>
      <v-col>
        <v-data-table
            :items="users.data"
            :headers="headers"
            :footer-props="{ 'items-per-page-options': [10, 15, 20, 30] }"
            :server-items-length="users.totalCount"
            :options.sync="paginationOptions"
            class="elevation-2"
        >
          <template v-slot:top>
            <v-toolbar flat dense>
              <v-toolbar-title>{{ title }}</v-toolbar-title>
              <v-spacer/>
              <UserCreationDialog @new-user-added="getUsers"/>
            </v-toolbar>
          </template>
          <template v-slot:item.passwordResetRequired="{ item }">
            <ReadOnlyCheckbox :value="item.passwordResetRequired"/>
          </template>
          <template v-slot:item.allowedToLogin="{ item }">
            <ReadOnlyCheckbox :value="item.allowedToLogin"/>
          </template>
          <template v-slot:item.autoIncludeInNextSettlement="{ item }">
            <ReadOnlyCheckbox :value="item.autoIncludeInNextSettlement"/>
          </template>
          <template v-slot:item.translatedRoles="{ item }">
            {{ translateRoles(item) }}
          </template>
          <template v-slot:item.actions="{ item }">
            <v-btn @click="editUser(item.id)" icon color="accent">
              <v-icon>fa-edit</v-icon>
            </v-btn>
          </template>
        </v-data-table>
        <UserUpdateDialog :id="editedUserId" :show="showEditDialog" @success="onEditSuccess" @cancel="onEditCancel"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import {Component, Vue, Watch} from "vue-property-decorator"
import {UserProjection} from "@/users/data/UserProjection"
import {DataOptions, DataTableHeader} from "vuetify"
import {translateRoles} from "@/users/functions/Roles"
import {userService} from "@/users/services/UserService"
import {Page} from "@/common/pagination/Page"
import UserCreationDialog from "@/users/components/UserCreationDialog.vue"
import UserUpdateDialog from "@/users/components/UserUpdateDialog.vue"
import ReadOnlyCheckbox from "@/common/components/ReadOnlyCheckbox.vue"
import {notificationService} from "@/common/events/Notifications"
import {translateVuetifyPagination} from "@/common/pagination/Pagination"
import {AxiosError} from "axios"
import {loadingService} from "@/common/events/Loading"

@Component({
  components: {ReadOnlyCheckbox, UserUpdateDialog, UserCreationDialog},
  name: "Users"
})
export default class Users extends Vue {

  title = "Użytkownicy"

  users: Page<UserProjection> = {
    data: [],
    pageIndex: 0,
    pageSize: 0,
    totalCount: 0,
    totalPageCount: 0
  }

  paginationOptions: DataOptions = {
    groupBy: [],
    groupDesc: [],
    itemsPerPage: 15,
    multiSort: false,
    mustSort: false,
    page: 1,
    sortBy: [],
    sortDesc: []
  }

  @Watch("paginationOptions", {deep: true})
  onPaginationOptionsChange() {
    this.getUsers()
  }

  headers: Array<DataTableHeader> = [
    {
      text: "Login",
      value: "login"
    },
    {
      text: "Imię lub pseudonim",
      value: "name"
    },
    {
      text: "Może się logować",
      value: "allowedToLogin",
    },
    {
      text: "Automatycznie dodawany do kolejnego rozliczenia",
      value: "autoIncludeInNextSettlement"
    },
    {
      text: "Wymagana zmiana hasła",
      value: "passwordResetRequired",
    },
    {
      text: "Role",
      value: "translatedRoles",
      sortable: false
    },
    {
      text: "",
      value: "actions",
      sortable: false,
      align: "end"
    }
  ]

  translateRoles(user: UserProjection) {
    return translateRoles(user.roles)
  }

  getUsers() {
    const handle = loadingService.start()
    userService.getUsers(translateVuetifyPagination(this.paginationOptions))
        .then(response => {
          this.users = response.data
        })
        .catch((error: AxiosError) => {
          notificationService.unknownServerError(error)
        })
        .finally(() => {
          loadingService.stop(handle)
        })
  }

  editedUserId: number | null = null
  showEditDialog = false

  editUser(id: number) {
    this.editedUserId = id
    this.showEditDialog = true
  }

  onEditSuccess() {
    this.getUsers()
    this.showEditDialog = false
  }

  onEditCancel() {
    this.showEditDialog = false
  }

  mounted() {
    this.$store.commit("setScreenTitle", this.title)
  }
}
</script>
