<template>
  <v-dialog v-if="user.loggedIn" v-model="show" width="500">
    <template v-slot:activator="{ on, attrs }">
      <v-btn icon v-bind="attrs" v-on="on">
        <v-icon>fas fa-user-circle</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>{{ greeting }}, {{ user.name }}</v-card-title>
      <v-card-text>
        Login: {{ user.login }}
        <br/>
        Rola: {{ translatedRoles }}
        <br/>
        Logowanie ważne jeszcze przez {{ loginExpires }}
      </v-card-text>
      <v-card-actions>
        <v-spacer/>
        <v-btn text color="primary" @click="changePassword">Zmień hasło</v-btn>
        <v-btn text color="primary" @click="hide">OK</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator"
import {greetingBasedOnTimeOfDay} from "@/common/functions/Greetings"
import {AccountDetailsInfo} from "@/common/authentication/data/AccountDetailsInfo"
import {translateRoles} from "@/users/functions/Roles"
import {format} from "@/common/functions/Time"
import {eventBus} from "@/common/events/EventBus"

@Component({
  name: "AccountDetailsDialog"
})
export default class AccountDetailsDialog extends Vue {

  show = false
  greeting = ""

  refreshGreeting() { // because I can :P, let's say it's an easter-egg
    this.greeting = greetingBasedOnTimeOfDay()
  }

  mounted() {
    this.refreshGreeting()
    eventBus.onLogout(this.hide)
    eventBus.onHeartbeat(this.refreshGreeting)
  }

  get user(): AccountDetailsInfo {
    return this.$store.getters.accountDetailsInfo
  }

  get translatedRoles(): string {
    return translateRoles(this.user.roles)
  }

  get loginExpires() {
    return format(this.user.expiresInMilliseconds)
  }

  changePassword() {
    this.$router.push("/change-password")
    this.hide()
  }

  hide() {
    this.show = false
  }
}
</script>

<style scoped>

</style>