<template>
  <v-dialog v-model="show" max-width="1000" scrollable>
    <template v-slot:activator="{ on, attrs }">
      <v-btn icon v-bind="attrs" v-on="on">
        <v-icon>fas fa-question-circle</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        Pomoc
      </v-card-title>
      <v-card-text>
        <h3>Lodgings? A na co to komu potrzebne?</h3>
        Przypuśćmy, że są sobie jacyś współlokatorzy, którzy mają jakieś wspólne wydatki, jak na przykład za internet.
        Albo jakieś materiały eksploatacyjne (które zakładamy, że zużywają po równo), jak płyn do prania.
        Jeśli internet kosztuje 60zł i są 3 osoby, to oczywiście każdy powinien zapłacić 20zł na miesiąc.
        Ale ktoś inny w danym miesiącu może kupić właśnie płyn do prania, a jeszcze ta ostatnia, trzecia osoba -
        zmywaki i papier toaletowy. Albo może być więcej osób. Sprawa zaczyna się komplikować...
        <br/>
        <br/>
        Ta aplikacja pozwala zapisać wszystkie zakupy a potem, na koniec miesiąca, rozlicza je i wyznacza płatności w taki sposób,
        żeby efektywnie każdy zapłacił tyle samo. Dodatkowo,
        <ul>
          <li>
            stara się minimalizować liczbę płatności,
          </li>
          <li>
            faworyzuje kupujących w takim sensie, że ci, którzy zalegają najwięcej,
            nie tylko będą mieli najwięcej do zapłacenia w sumie (co oczywiste),
            ale też (prawdopodobnie) będzie to największa liczba płatności, (prawdopodobnie) drobniejszych
            (jeśli algorytm stanie przed takim dylematem).
          </li>
        </ul>
        <br/>
        Potem, o północy na przełomie miesięcy, aplikacja blokuje możliwość dodawania zakupów w miesiącu, który się kończy i umożliwia
        potwierdzanie przez odbiorców, że otrzymali pieniądze, po czym, kiedy ostatni odbiorca potwierdzi ostatnią płatność,
        ustawia miesiąc jako rozliczony.
        <br/>
        <br/>
        <h3>Przykład</h3>
        Marek, Darek i Jarek w jednym stali domu.
        <ul>
          <li>Marek kupił zakupy za w sumie 45 zł w danym miesiącu</li>
          <li>Darek kupił zakupy za w sumie 15 zł w danym miesiącu</li>
          <li>Jarek nie kupił nic, bo ma sesję i popija czerstwe bułki Redbullem, nie ma czasu na zakupy</li>
          <li>Suma to 60 zł więc każdy kolega powinien ostatecznie zapłacić 20zł</li>
          <li>Lodgings powie nam więc, że Darek powinien zapłacić Markowi 5zł...</li>
          <li>... a Jarek powinien zapłacić Markowi 20zł</li>
        </ul>
        <br/>
        <h3>No to jak się tego używa?</h3>
        <ul>
          <li>Po dołączeniu do naszej wspaniałej społeczności współlokatorów otrzymasz od admina login i wygenerowane hasło</li>
          <li>Po pierwszym logowaniu będziesz musiał(a) zmienić hasło i zalogować się ponownie</li>
          <li>Znajdziesz się na głównym panelu, czyli na rozliczeniach, na bieżącym miesiącu</li>
          <li>Możesz już dodawać zakupy (wydatki), tylko uzgodnij ze współlokatorami, co jest wspólne, a co nie</li>
          <li>Jeśli chcesz dodać wydatek, ale na liście nie ma odpowiedniego artykułu do wyboru, przejdź do artykułów i dodaj go</li>
          <li>
            Tak na prawdę nie jest to na razie potrzebne (tak jak "Łatwo ocenić, ile zostało?", czy "Zastosowanie" artykułu),
            liczy się tylko cena, ale później będzie potrzebne (pierwszy punkt w sekcji <strong>Przyszłość...</strong>),
            więc staraj się uzupełniać zgodnie z prawdą
          </li>
          <li>Na początku każdego miesiąca sprawdzaj płatności za poprzedni</li>
          <li>Jeśli coś komuś "wisisz", zapłać</li>
          <li>Jeśli ktoś Tobie "wisi", oznacz płatność jako otrzymaną (to znaczy... najpierw poczekaj, aż faktycznie ją otrzymasz :P)</li>
          <li>... i już :)</li>
        </ul>
        <br/>
        <h3>Przyszłość...</h3>
        <ul>
          <li>
            Monitorowanie dostępności artykułów: wykresy, powiadomienia żeby sprawdzić, czy coś się nie kończy
          </li>
          <li>
            Ustawianie powtarzających się wydatków (jak np. internet, czy inne rachunki), żeby nie dodawać ich z palca co miesiąc
          </li>
          <li>
            Dodatkowe rozliczenia "ad-hoc" z innymi osobami, niż współlokatorzy, czyli na przykład po grillu; ktoś kupił kiełbaski, ktoś ketchup...
          </li>
          <li>
            Drobne usprawnienia ergonomii, jak np. filtrowanie "tylko moich" płatności
          </li>
          <li>
            Dużo różnych rzeczy... no, chyba, że mi się znudzi :)
          </li>
        </ul>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="primary"
            text
            @click="hide"
        >
          OK
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator"

@Component({
  name: "HelpDialog"
})
export default class HelpDialog extends Vue {

  show = false

  hide() {
    this.show = false
  }
}
</script>

<style scoped>

</style>