<template>
  <v-dialog v-model="show" width="400">
    <template v-slot:activator="{ on, attrs }">
      <v-btn icon v-bind="attrs" v-on="on">
        <v-icon>fas fa-comments</v-icon>
      </v-btn>
    </template>
    <v-list>
      <v-list-item link @click="setPolish">
        <v-list-item-title>Polski</v-list-item-title>
      </v-list-item>
      <v-list-item link @click="setEnglish">
        <v-list-item-title>English (to do)</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-dialog>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator"

@Component({
  name: "LanguageChoiceDialog"
})
export default class LanguageChoiceDialog extends Vue {

  show = false

  setPolish() {
    console.log("wybrano język polski") // todo
    this.show = false
  }

  setEnglish() {
    console.log("english language selected") // todo
    this.show = false
  }
}
</script>

<style scoped>

</style>