<template>
  <v-dialog v-if="userIsLoggedIn" v-model="show" width="400">
    <template v-slot:activator="{ on, attrs }">
      <v-btn icon v-bind="attrs" v-on="on">
        <v-icon>fas fa-power-off</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>Pytanie o wylogowanie...</v-card-title>
      <v-card-text>
        A może rzucisz okiem na artykuły i sprawdzisz, czy czegoś nie brakuje?
      </v-card-text>
      <v-card-actions>
        <v-spacer/>
        <v-btn text @click="hide">Anuluj</v-btn>
        <v-btn text color="primary" @click="logout">Wyloguj</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator"
import {authenticationService} from "@/common/authentication/services/AuthenticationService"
import {eventBus} from "@/common/events/EventBus"

@Component({
  name: "LogoutDialog"
})
export default class LogoutDialog extends Vue {

  show = false

  hide() {
    this.show = false
  }

  mounted() {
    eventBus.onLogout(this.hide)
  }

  get userIsLoggedIn() {
    return this.$store.getters.userIsLoggedIn
  }

  logout() {
    authenticationService.logout()
    this.hide()
  }
}
</script>

<style scoped>

</style>