<template>
  <v-snackbar
      top right app
      :color="type"
      v-model="show"
      :timeout="timeout"
      text outlined
      :multi-line="details.length > 0"
  >
    {{ message }}
    <ul v-if="details.length > 0">
      <li v-for="detail in details" :key="detail">{{ detail }}</li>
    </ul>
    <template v-slot:action="{ attrs }">
      <v-btn
          v-if="closeable"
          text
          :color="type"
          v-bind="attrs"
          @click="hide"
      >
        OK
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script lang="ts">
import {Component} from "vue-property-decorator"
import Vue from "vue"
import {NotificationConfig, NotificationType} from "@/common/events/Notifications"
import {eventBus} from "@/common/events/EventBus"

@Component({
  name: "NotificationBox"
})
export default class NotificationBox extends Vue {
  message = ""
  details = [] as Array<string>
  type = "success" as NotificationType
  show = false
  timeout = -1
  closeable = true

  notify(config: NotificationConfig) {
    this.message = config.message
    this.details = config.details ? config.details : []
    this.type = config.type
    const timeout = config.timeout
    this.timeout = timeout == undefined ? -1 : timeout
    const closeable = config.closeable
    this.closeable = closeable == undefined ? true : closeable

    this.show = true
  }

  hide() {
    this.show = false
  }

  mounted() {
    eventBus.onNotify(this.notify)
    eventBus.onHideNotification(this.hide)
  }
}
</script>

<style scoped>

</style>