<template>
  <v-dialog v-model="show" max-width="500px" :persistent="saving">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
          color="primary"
          v-bind="attrs"
          v-on="on"
      >
        Dodaj artykuł
      </v-btn>
    </template>
    <v-card>
      <LocalLoader :loading="purposesLoading"/>
      <v-card-title>
        <span>Dodawanie artykułu</span>
      </v-card-title>
      <v-form ref="form">
        <v-card-text>
          <v-container>
            <v-text-field
                label="Nazwa"
                v-model="item.name"
                :rules="nameRules"
                :disabled="saving"
            ></v-text-field>
            <v-checkbox
                label="Łatwo ocenić, ile zostało?"
                v-model="item.assessable"
                :disabled="saving"
            ></v-checkbox>
            <Combobox
                label="Zastosowanie"
                v-model="item.purposeName"
                :items="purposes"
                :rules="purposeNameRules"
                :disabled="saving"
            ></Combobox>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="close" :disabled="saving">Anuluj</v-btn>
          <v-btn
              color="primary"
              text
              @click="save"
              :loading="saving"
              :disabled="wait"
          >
            Zapisz
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import {Component, Emit, Vue, Watch} from "vue-property-decorator"
import {AxiosError} from "axios"
import {notificationService} from "@/common/events/Notifications"
import {ApiError} from "@/common/events/Errors"
import {ItemPersistRequest} from "@/items/data/ItemPersistRequest"
import {itemService} from "@/items/services/ItemService"
import Combobox from "@/common/components/Combobox.vue"
import {nameRules, purposeNameRules} from "@/items/functions/Validation"
import LocalLoader from "@/common/components/LocalLoader.vue"

@Component({
  name: "ItemCreationDialog",
  components: {LocalLoader, Combobox}
})
export default class ItemCreationDialog extends Vue {
  show = false
  saving = false
  item = new ItemPersistRequest()
  purposes = [] as Array<string>
  purposesLoading = false

  @Watch("show", {deep: true})
  onDialogToggle() {
    const ref: any = this.$refs.form
    ref?.reset()
    if (this.show) {
      this.getPurposes()
    }
  }

  nameRules = nameRules
  purposeNameRules = purposeNameRules

  get error() {
    return this.nameRules.some(rule => rule(this.item.name) != true)
    || this.purposeNameRules.some(rule => rule(this.item.purposeName) != true)
  }

  get wait() {
    return this.error || this.saving
  }

  close() {
    this.show = false
    this.item = new ItemPersistRequest()
  }

  getPurposes() {
    this.purposesLoading = true
    itemService.getPurposes()
        .then(response => {
          this.purposes = response.data
        })
        .catch((error: AxiosError) => {
          notificationService.unknownServerError(error)
        })
        .finally(() => {
          this.purposesLoading = false
        })
  }

  save() {
    this.saving = true
    itemService.tryCreateItem(this.item)
        .then(() => {
          this.newItemAdded()
        })
        .catch((error: AxiosError<Array<ApiError>>) => {
          notificationService.apiError(error, {
            closeable: true,
            timeout: 5000,
            onStatus: 400
          })
        })
        .finally(() => {
          this.saving = false
        })
  }

  @Emit()
  newItemAdded() {
    this.close()
  }
}
</script>