<template>
  <v-dialog :value="show" @input="cancel" max-width="500px" :persistent="deleting">
    <v-card>
      <v-card-title>
        <span>Usuwanie artykułu</span>
      </v-card-title>
      <v-card-text>
        Na pewno chcesz trwale usunąć artykuł <strong>{{ itemName }}</strong>?
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="cancel" :disabled="deleting">Anuluj</v-btn>
        <v-btn
            color="error"
            text
            @click="deleteItem"
            :loading="deleting"
            :disabled="deleting"
        >
          Usuń
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import {Component, Emit, Prop, Vue} from "vue-property-decorator"
import {AxiosError} from "axios"
import {notificationService} from "@/common/events/Notifications"
import {ApiError} from "@/common/events/Errors"
import {itemService} from "@/items/services/ItemService"
import {ItemProjection} from "@/items/data/ItemProjection"

@Component({
  name: "ItemDeletionDialog"
})
export default class ItemDeletionDialog extends Vue {

  @Prop()
  show!: boolean

  @Prop()
  item: ItemProjection | null = null

  deleting = false

  get itemName() {
    return this.item?.name
  }

  deleteItem() {
    this.deleting = true
    if (this.item) {
      itemService.tryDeleteItem(this.item.id)
          .then(this.success)
          .catch((error: AxiosError<Array<ApiError>>) => {
            notificationService.apiError(error, {
              closeable: true,
              onStatus: 400,
              timeout: 5000
            })
          })
          .finally(() => {
            this.deleting = false
          })
    } else { // at the point of user clicking the button, we expect the item to be there
      notificationService.unknownTechnicalError()
    }
  }

  @Emit()
  success() {}

  @Emit()
  cancel() {}
}
</script>