<template>
  <v-dialog :value="show" @input="cancel" max-width="500px" :persistent="saving">
    <v-card>
      <LocalLoader :loading="loading"/>
      <v-card-title>
        <span>Edycja artykułu</span>
      </v-card-title>
      <v-form ref="form">
        <v-card-text>
          <v-container>
            <v-text-field
                label="Nazwa"
                v-model="item.name"
                :rules="nameRules"
                :disabled="saving"
            ></v-text-field>
            <v-checkbox
                label="Łatwo ocenić, ile zostało?"
                v-model="item.assessable"
                :disabled="saving"
            ></v-checkbox>
            <Combobox
                label="Zastosowanie"
                v-model="item.purposeName"
                :items="purposes"
                :rules="purposeNameRules"
                :disabled="saving"
            ></Combobox>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="cancel" :disabled="saving">Anuluj</v-btn>
          <v-btn
              color="primary"
              text
              @click="save"
              :loading="saving"
              :disabled="wait"
          >
            Zapisz
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import {Component, Emit, Prop, Vue, Watch} from "vue-property-decorator"
import {AxiosError} from "axios"
import {notificationService} from "@/common/events/Notifications"
import {ApiError} from "@/common/events/Errors"
import {ItemPersistRequest} from "@/items/data/ItemPersistRequest"
import {itemService} from "@/items/services/ItemService"
import LocalLoader from "@/common/components/LocalLoader.vue"
import Combobox from "@/common/components/Combobox.vue"
import {nameRules, purposeNameRules} from "@/items/functions/Validation"

@Component({
  name: "ItemUpdateDialog",
  components: {Combobox, LocalLoader}
})
export default class ItemUpdateDialog extends Vue {
  loading = false
  saving = false
  item = new ItemPersistRequest()
  purposes: Array<string> = []

  @Prop()
  id!: number

  @Prop()
  show!: boolean

  getItemForUpdate() {
    this.loading = true
    itemService.getItemForUpdate(this.id)
        .then(response => {
          this.item = response.data.item
          this.purposes = response.data.purposes
        })
        .catch((error: AxiosError) => {
          notificationService.unknownServerError(error)
        })
        .finally(() => {
          this.loading = false
        })
  }

  @Watch("show", {deep: true})
  onDialogToggle() {
    const ref: any = this.$refs.form
    ref?.reset()
    if (this.show) {
      this.getItemForUpdate()
    }
  }

  nameRules = nameRules
  purposeNameRules = purposeNameRules

  get error() {
    return this.nameRules.some(rule => rule(this.item.name) != true)
    || this.purposeNameRules.some(rule => rule(this.item.purposeName) != true)
  }

  get wait() {
    return this.error || this.saving
  }

  reset() {
    this.item = new ItemPersistRequest()
  }

  @Emit()
  cancel() {
    this.reset()
  }

  save() {
    this.saving = true
    itemService.tryUpdateItem(this.id, this.item)
        .then(this.itemUpdated)
        .catch((error: AxiosError<Array<ApiError>>) => {
          notificationService.apiError(error, {
            closeable: true,
            timeout: 5000,
            onStatus: 400
          })
        })
        .finally(() => {
          this.saving = false
        })
  }

  @Emit()
  itemUpdated() {
    this.reset()
  }
}
</script>