<template>
  <v-container fluid pt-0 pb-0>
    <v-row>
      <v-col cols="12" md="4" lg="3">
        <SettlementPicker @choice="updateYearMonth"/>
      </v-col>
      <v-col cols="12" md="8" lg="9">
        <ExpensesTable
            :disabled="notCurrentMonth || loading"
            :expenses="settlement.expenses"
            @expense-deleted="refresh"
            @expense-persisted="refresh"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="6">
        <PaymentsTable
            :disabled="loading"
            :payments="settlement.payments"
            @payment-status-changed="refresh"
            :settled="settlement.settled"
        />
      </v-col>
      <v-col cols="12" md="6">
        <UsersTable
            :disabled="notCurrentMonth || loading"
            :users="settlement.users"
            :expenses="settlement.expenses"
            @participants-changed="refresh"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator"
import {settlementService} from "@/settlements/services/SettlementService"
import ReadOnlyCheckbox from "@/common/components/ReadOnlyCheckbox.vue"
import {SettlementProjection} from "@/settlements/data/SettlementProjections"
import ExpensesTable from "@/settlements/components/ExpensesTable.vue"
import PaymentsTable from "@/settlements/components/PaymentsTable.vue"
import UsersTable from "@/settlements/components/UsersTable.vue"
import SettlementPicker from "@/settlements/components/SettlementPicker.vue"
import {YearMonth} from "@/settlements/data/YearMonth"
import {notificationService} from "@/common/events/Notifications"
import {AxiosError} from "axios"
import {loadingService} from "@/common/events/Loading"
import {notCurrentMonth} from "@/common/functions/Time"

@Component({
  components: {UsersTable, PaymentsTable, ExpensesTable, ReadOnlyCheckbox, SettlementPicker},
  name: "Settlements"
})
export default class Settlements extends Vue {

  settlement: SettlementProjection = {
    expenses: [],
    payments: [],
    users: [],
    yearMonth: "",
    settled: false
  }

  loading = false

  date = YearMonth.now()

  updateYearMonth(value: YearMonth) {
    this.date = value
    this.getSettlement()
    this.$store.commit("setScreenTitle", this.dateLabel)
  }

  get notCurrentMonth(): boolean {
    return notCurrentMonth(this.date)
  }

  mounted() {
    this.getSettlement()
    this.$store.commit("setScreenTitle", this.dateLabel)
  }

  dictionary = [ // todo #27
    {value: 1, label: "Styczeń"},
    {value: 2, label: "Luty"},
    {value: 3, label: "Marzec"},
    {value: 4, label: "Kwiecień"},
    {value: 5, label: "Maj"},
    {value: 6, label: "Czerwiec"},
    {value: 7, label: "Lipiec"},
    {value: 8, label: "Sierpień"},
    {value: 9, label: "Wrzesień"},
    {value: 10, label: "Październik"},
    {value: 11, label: "Listopad"},
    {value: 12, label: "Grudzień"},
  ]

  get dateLabel(): string {
    const month = this.dictionary.find(entry => entry.value == this.date.month)!.label
    return `${month} ${this.date.year}`
  }

  getSettlement() {
    this.loading = true
    const handle = loadingService.start()
    settlementService.getSettlement(this.date.year, this.date.month)
        .then(response => {
          this.settlement = response.data
        })
        .catch((error: AxiosError) => {
          notificationService.unknownServerError(error)
        })
        .finally(() => {
          this.loading = false
          loadingService.stop(handle)
        })
  }

  refresh(settlement: SettlementProjection) {
    this.settlement = settlement
  }
}
</script>
