<template>
  <v-dialog :value="show" @input="cancel" max-width="500px" :persistent="saving">
    <v-card>
      <LocalLoader :loading="loading"/>
      <v-card-title>
        <span>Edycja użytkownika</span>
      </v-card-title>
      <v-form ref="form">
        <v-card-text>
          <v-container>
            <v-text-field
                readonly
                label="Login (tylko do odczytu)"
                v-model="login"
                :disabled="saving"
            ></v-text-field>
            <v-text-field
                label="Imię lub pseudonim"
                v-model="user.name"
                :rules="nameRules"
                :disabled="saving"
            ></v-text-field>
            <v-select
                multiple
                label="Role"
                v-model="user.roles"
                :items="roleDictionary"
                :rules="roleRules"
                :disabled="saving"
                @change="rolesChanged"
            ></v-select>
            <v-checkbox
                label="Może się logować?"
                v-model="user.allowedToLogin"
                :disabled="saving"
            ></v-checkbox>
            <v-checkbox
                label="Automatycznie dodawać do kolejnego rozliczenia?"
                v-model="user.autoIncludeInNextSettlement"
                :disabled="saving || isNotUser"
            ></v-checkbox>
            <v-checkbox
                label="Wymagać zmiany hasła przy następnym logowaniu?"
                v-model="user.passwordResetRequired"
                :disabled="saving"
            ></v-checkbox>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="cancel" :disabled="saving">Anuluj</v-btn>
          <v-btn color="primary" text @click="save" :loading="saving" :disabled="wait">Zapisz</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import {Component, Emit, Prop, Vue, Watch} from "vue-property-decorator"
import {userService} from "@/users/services/UserService"
import {ASSIGNABLE_ROLES} from "@/users/functions/Roles"
import {UserUpdateRequest} from "@/users/data/UserUpdateRequest"
import LocalLoader from "@/common/components/LocalLoader.vue"
import {notificationService} from "@/common/events/Notifications"
import {AxiosError} from "axios"
import {ApiError} from "@/common/events/Errors"
import {nameRules, roleRules} from "@/users/functions/Validation"

@Component({
  name: "UserUpdateDialog",
  components: {LocalLoader}
})
export default class UserUpdateDialog extends Vue {
  loading = false
  saving = false
  user = new UserUpdateRequest()
  roleDictionary = ASSIGNABLE_ROLES
  login = ""

  nameRules = nameRules
  roleRules = roleRules

  @Prop()
  id!: number

  @Prop()
  show!: boolean

  get error() {
    return this.nameRules.some(rule => rule(this.user.name) != true)
        || this.roleRules.some(rule => rule(this.user.roles) != true)
  }

  get wait() {
    return this.error || this.saving
  }

  @Watch("show", {deep: true})
  onDialogToggle() {
    const ref: any = this.$refs.form
    ref?.reset()
    if (this.show) {
      this.loading = true
      userService.getUser(this.id)
          .then(response => {
            this.login = response.data.login
            this.user.allowedToLogin = response.data.allowedToLogin
            this.user.autoIncludeInNextSettlement = response.data.autoIncludeInNextSettlement
            this.user.name = response.data.name
            this.user.passwordResetRequired = response.data.passwordResetRequired
            this.user.roles = response.data.roles
          })
          .catch((error: AxiosError) => {
            notificationService.unknownServerError(error)
          })
          .finally(() => {
            this.loading = false
          })
    }
  }

  reset() {
    this.user = new UserUpdateRequest()
    this.login = ""
  }

  get isNotUser(): boolean {
    return !this.user.roles.some(role => role == "USER")
  }

  rolesChanged() {
    if (this.isNotUser) {
      this.user.autoIncludeInNextSettlement = false
    }
  }

  save() {
    this.saving = true
    userService.tryUpdateUser(this.id, this.user)
        .then(this.success)
        .catch((error: AxiosError<Array<ApiError>>) => {
          notificationService.apiError(error, {
            closeable: true,
            timeout: 6000,
            onStatus: 400
          })
        })
        .finally(() => {
          this.saving = false
        })
  }

  @Emit()
  success() {
    notificationService.notify({
      closeable: true,
      message: `${this.user.name} (${this.login}) zauważy zmiany przy następnym zalogowaniu.`,
      type: "info",
      timeout: 5000
    })
    this.reset()
  }

  @Emit()
  cancel() {
    this.reset()
  }
}
</script>

<style scoped>

</style>