<template>
  <v-dialog v-model="show" max-width="500px" :persistent="saving">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
          color="primary"
          v-bind="attrs"
          v-on="on"
      >
        Dodaj użytkownika
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span>Dodawanie użytkownika</span>
      </v-card-title>
      <v-form ref="form">
        <v-card-text>
          <v-container>
            <v-text-field
                label="Login"
                v-model="user.login"
                :rules="loginRules"
                :disabled="saving"
            ></v-text-field>
            <v-text-field
                label="Imię lub pseudonim"
                v-model="user.name"
                :rules="nameRules"
                :disabled="saving"
            ></v-text-field>
            <v-select
                multiple
                label="Role"
                v-model="user.roles"
                :items="roleDictionary"
                :rules="roleRules"
                :disabled="saving"
                @change="rolesChanged"
            ></v-select>
            <v-checkbox
                label="Może się logować?"
                v-model="user.allowedToLogin"
                :disabled="saving"
            ></v-checkbox>
            <v-checkbox
                label="Automatycznie dodawać do kolejnego rozliczenia?"
                v-model="user.autoIncludeInNextSettlement"
                :disabled="saving || isNotUser"
            ></v-checkbox>
            <v-checkbox
                label="Dodać do bieżącego rozliczenia?"
                v-model="user.addToCurrentSettlement"
                :disabled="saving || isNotUser"
            ></v-checkbox>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="close" :disabled="saving">Anuluj</v-btn>
          <v-btn
              color="primary"
              text
              @click="save"
              :loading="saving"
              :disabled="wait"
          >
            Zapisz
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import {Component, Emit, Vue, Watch} from "vue-property-decorator"
import {UserCreationRequest} from "@/users/data/UserCreationRequest"
import {userService} from "@/users/services/UserService"
import {ASSIGNABLE_ROLES} from "@/users/functions/Roles"
import {AxiosError, AxiosResponse} from "axios"
import {notificationService} from "@/common/events/Notifications"
import {ApiError} from "@/common/events/Errors"
import {nameRules, roleRules} from "@/users/functions/Validation"

@Component({
  name: "UserCreationDialog"
})
export default class UserCreationDialog extends Vue {
  show = false
  saving = false
  user = new UserCreationRequest()
  roleDictionary = ASSIGNABLE_ROLES

  @Watch("show", {deep: true})
  onDialogToggle() {
    const ref: any = this.$refs.form
    ref?.reset()
    setTimeout(() => { // vue, please
      this.user.allowedToLogin = true
    })
  }

  loginRules = [
    (value: string | null) => !!value || "Login jest wymagany!",
    (value: string | null) => (value || "").length >= 4 || "Login musi mieć przynajmniej 4 znaki!",
    (value: string | null) => (value || "").length <= 30 || "Login musi mieć co najwyżej 30 znaków!"
  ]

  nameRules = nameRules
  roleRules = roleRules

  get error() {
    return this.loginRules.some(rule => rule(this.user.login) != true)
        || this.nameRules.some(rule => rule(this.user.name) != true)
        || this.roleRules.some(rule => rule(this.user.roles) != true)
  }

  get isNotUser(): boolean {
    return !this.user.roles.some(role => role == "USER")
  }

  rolesChanged() {
    if (this.isNotUser) {
      this.user.addToCurrentSettlement = false
      this.user.autoIncludeInNextSettlement = false
    }
  }

  get wait() {
    return this.error || this.saving
  }

  close() {
    this.show = false
    this.user = new UserCreationRequest()
  }

  save() {
    this.saving = true
    userService.tryCreateUser(this.user)
        .then(response => {
          this.newUserAdded(response)
        })
        .catch((error: AxiosError<Array<ApiError>>) => {
          notificationService.apiError(error, {
            closeable: true,
            timeout: 5000,
            onStatus: 400
          })
        })
        .finally(() => {
          this.saving = false
        })
  }

  @Emit()
  newUserAdded(response: AxiosResponse<string>) {
    this.close()
    notificationService.notify({
      type: "info",
      message: `Hasło: ${response.data}`,
      closeable: true,
      timeout: 30000 // for convenience I guess it could be without timeout, but what if admin gets distracted, walks away, etc?
    })
  }
}
</script>