<template>
  <v-dialog v-model="show" max-width="500px" :persistent="saving">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
          color="primary"
          v-bind="attrs"
          v-on="on"
          :disabled="disabled"
      >
        Dodaj wydatek
      </v-btn>
    </template>
    <v-card>
      <LocalLoader :loading="loadingItems"/>
      <v-card-title>
        <span>Dodawanie wydatku</span>
      </v-card-title>
      <v-form ref="form">
        <v-card-text>
          <v-container>
            <v-autocomplete
                label="Artykuł"
                :items="itemNames"
                v-model="expense.itemName"
                :rules="itemRules"
                :disabled="saving"
            ></v-autocomplete>
            <v-text-field
                label="Cena (całkowita)"
                v-model="expense.totalPrice"
                :rules="totalPriceRules"
                type="number"
                suffix="zł"
                :disabled="saving"
            ></v-text-field>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="reset" :disabled="saving">Anuluj</v-btn>
          <v-btn
              color="primary"
              text
              @click="save"
              :loading="saving"
              :disabled="wait"
          >
            Zapisz
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import {Component, Emit, Prop, Vue, Watch} from "vue-property-decorator"
import {notificationService} from "@/common/events/Notifications"
import {settlementService} from "@/settlements/services/SettlementService"
import {ExpensePersistRequest} from "@/settlements/data/ExpensePersistRequest"
import {AxiosError, AxiosResponse} from "axios"
import {ApiError} from "@/common/events/Errors"
import {SettlementProjection} from "@/settlements/data/SettlementProjections"
import {itemRules, totalPriceRules} from "@/settlements/functions/Validation"
import LocalLoader from "@/common/components/LocalLoader.vue"

@Component({
  name: "ExpenseCreationDialog",
  components: {LocalLoader}
})
export default class ExpenseCreationDialog extends Vue {
  show = false
  loadingItems = false
  saving = false
  expense = {
    itemName: null as string | null,
    totalPrice: null as number | null,
  }

  @Prop()
  disabled!: boolean

  itemRules = itemRules
  totalPriceRules = totalPriceRules

  itemNames: Array<string> = []

  save() {
    this.saving = true
    const request = new ExpensePersistRequest(
        this.expense.itemName!, // if we can click the button, that means the validation passed, that means these are not null
        this.expense.totalPrice!
    )
    settlementService.trySaveExpense(request)
        .then((response: AxiosResponse<SettlementProjection>) => {
          this.expenseCreated(response.data)
        })
        .catch((error: AxiosError<Array<ApiError>>) => {
          notificationService.apiError(error, {
            closeable: true,
            onStatus: 400,
            timeout: 5000
          })
        })
        .finally(() => {
          this.saving = false
        })
  }

  get error() {
    return this.itemRules.some(rule => rule(this.expense.itemName) != true)
        || this.totalPriceRules.some(rule => rule(this.expense.totalPrice) != true)
  }

  get wait() {
    return this.error || this.saving || this.loadingItems
  }

  @Watch("show", {deep: true})
  onDialogToggle() {
    const ref: any = this.$refs.form
    ref?.reset()
    if (this.show) {
      this.getItems()
    }
  }

  getItems() {
    this.loadingItems = true
    settlementService.getItemDictionary()
        .then(response => {
          this.itemNames = response.data.map(item => item.name)
        })
        .catch((error: AxiosError) => {
          notificationService.unknownServerError(error)
        })
        .finally(() => {
          this.loadingItems = false
        })
  }

  reset() {
    this.show = false
    this.expense = {
      itemName: null,
      totalPrice: null
    }
  }

  @Emit()
  expenseCreated(settlement: SettlementProjection): SettlementProjection {
    this.reset()
    return settlement
  }
}
</script>