<template>
  <v-dialog :value="show" @input="cancel" max-width="500px" :persistent="saving">
    <v-card>
      <LocalLoader :loading="loading"/>
      <v-card-title>
        <span>Edycja wydatku</span>
      </v-card-title>
      <v-form ref="form">
        <v-card-text>
          <v-container>
            <v-autocomplete
                label="Artykuł"
                :items="itemNames"
                v-model="expense.itemName"
                :rules="itemRules"
                :disabled="saving"
            ></v-autocomplete>
            <v-text-field
                label="Cena (całkowita)"
                v-model="expense.totalPrice"
                :rules="totalPriceRules"
                type="number"
                suffix="zł"
                :disabled="saving"
            ></v-text-field>
            <v-text-field
                label="Kiedy zapłacono (tylko do odczytu)"
                :value="whenBought"
                readonly
                :disabled="saving"
            ></v-text-field>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="cancel" :disabled="saving">Anuluj</v-btn>
          <v-btn
              color="primary"
              text
              @click="save"
              :loading="saving"
              :disabled="wait"
          >
            Zapisz
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import {Component, Emit, Prop, Vue, Watch} from "vue-property-decorator"
import {notificationService} from "@/common/events/Notifications"
import {settlementService} from "@/settlements/services/SettlementService"
import {ExpensePersistRequest} from "@/settlements/data/ExpensePersistRequest"
import {AxiosError, AxiosResponse} from "axios"
import {ApiError} from "@/common/events/Errors"
import {SettlementProjection} from "@/settlements/data/SettlementProjections"
import {itemRules, totalPriceRules} from "@/settlements/functions/Validation"
import LocalLoader from "@/common/components/LocalLoader.vue"
import {date} from "@/settlements/functions/Formatting"

@Component({
  name: "ExpenseUpdateDialog",
  components: {LocalLoader}
})
export default class ExpenseUpdateDialog extends Vue {
  loading = false
  saving = false
  expense = {
    itemName: null as string | null,
    totalPrice: null as number | null,
    whenBought: null as string | null
  }

  @Prop()
  id!: number

  @Prop()
  show!: boolean

  itemRules = itemRules
  totalPriceRules = totalPriceRules

  itemNames: Array<string> = []

  get whenBought(): string | null {
    const whenBought = this.expense.whenBought
    return whenBought ? date(whenBought) : null
  }

  save() {
    this.saving = true
    const request = new ExpensePersistRequest(
        this.expense.itemName!,
        this.expense.totalPrice!
    )
    settlementService.tryUpdateExpense(this.id, request)
        .then((response: AxiosResponse<SettlementProjection>) => {
          this.success(response.data)
        })
        .catch((error: AxiosError<Array<ApiError>>) => {
          notificationService.apiError(error, {
            closeable: true,
            onStatus: 400,
            timeout: 5000
          })
        })
        .finally(() => {
          this.saving = false
        })
  }

  get error() {
    return this.itemRules.some(rule => rule(this.expense.itemName) != true)
        || this.totalPriceRules.some(rule => rule(this.expense.totalPrice) != true)
  }

  get wait() {
    return this.error || this.saving || this.loading
  }

  @Watch("show", {deep: true})
  onDialogToggle() {
    const ref: any = this.$refs.form
    ref?.reset()
    if (this.show) {
      this.getExpense()
    }
  }

  getExpense() {
    this.loading = true
    settlementService.getExpenseForUpdate(this.id)
        .then(response => {
          this.itemNames = response.data.availableItems
          this.expense.itemName = response.data.item
          this.expense.totalPrice = response.data.totalPrice
          this.expense.whenBought = response.data.whenBought
        })
        .catch((error: AxiosError) => {
          notificationService.unknownServerError(error)
        })
        .finally(() => {
          this.loading = false
        })
  }

  reset() {
    this.expense = {
      itemName: null,
      totalPrice: null,
      whenBought: null
    }
  }

  @Emit()
  cancel() {
    this.reset()
  }

  @Emit()
  success(settlement: SettlementProjection): SettlementProjection {
    this.reset()
    return settlement
  }
}
</script>