<template xmlns="http://www.w3.org/1999/html">
  <div>
    <v-data-table
        :items="expenses"
        :headers="filteredHeaders"
        class="elevation-2"
        hide-default-footer
        :items-per-page="-1"
        no-data-text="Brak wydatków"
    >
      <template v-slot:top>
        <v-toolbar flat dense>
          <v-toolbar-title>Wydatki</v-toolbar-title>
          <v-spacer/>
          <ExpenseCreationDialog
              @expense-created="expensePersisted"
              :disabled="disabled"
              v-if="currentUserIsUser"
          />
        </v-toolbar>
      </template>
      <template v-slot:item.totalPrice="{ item }">
        {{ item.totalPrice | zloty }}
      </template>
      <template v-slot:item.whenBought="{ item }">
        {{ item.whenBought | date }}
      </template>
      <template v-slot:item.actions="{ item }">
        <v-btn @click="editExpense(item.id)" icon color="accent" :disabled="disabled" v-if="currentUserIsUser">
          <v-icon>fa-edit</v-icon>
        </v-btn>
        <v-btn @click="deleteExpense(item)" icon color="error" :disabled="disabled" v-if="currentUserIsUser">
          <v-icon>fa-trash</v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <ExpenseDeletionDialog
        @success="expenseDeleted"
        @cancel="hideDeletionDialog"
        :show="showDeletionDialog"
        :expense="deletedExpense"
        v-if="currentUserIsUser"
    />
    <ExpenseUpdateDialog
        @success="expensePersisted"
        @cancel="hideUpdateDialog"
        :show="showUpdateDialog"
        :id="updatedExpenseId"
        v-if="currentUserIsUser"
    />
  </div>
</template>

<script lang="ts">
import {Component, Emit, Prop, Vue} from "vue-property-decorator"
import {ExpenseProjection, SettlementProjection} from "@/settlements/data/SettlementProjections"
import {DataTableHeader} from "vuetify"
import {date, zloty} from "@/settlements/functions/Formatting"
import ExpenseDeletionDialog from "@/settlements/components/ExpenseDeletionDialog.vue"
import ExpenseUpdateDialog from "@/settlements/components/ExpenseUpdateDialog.vue"
import ExpenseCreationDialog from "@/settlements/components/ExpenseCreationDialog.vue"
import {Role} from "@/common/authentication/data/Role"

@Component({
  name: "ExpensesTable",
  components: {ExpenseCreationDialog, ExpenseUpdateDialog, ExpenseDeletionDialog},
  filters: {
    zloty: zloty,
    date: date
  }
})
export default class ExpensesTable extends Vue {

  @Prop()
  expenses!: Array<ExpenseProjection>

  @Prop()
  disabled!: boolean

  headers: Array<DataTableHeader> = [
    {
      text: "Cena (całkowita)",
      value: "totalPrice",
      sortable: false
    },
    {
      text: "Artykuł",
      value: "item",
      sortable: false
    },
    {
      text: "Kiedy zapłacono",
      value: "whenBought",
      sortable: false
    },
    {
      text: "Kto zapłacił",
      value: "buyer.name",
      sortable: false
    },
    {
      text: "",
      value: "actions",
      sortable: false,
      align: "end"
    }
  ]

  get currentUserIsUser(): boolean {
    const roles: Array<Role> = this.$store.getters.accountDetailsInfo.roles
    return roles.includes("USER")
  }

  get filteredHeaders(): Array<DataTableHeader> {
    if (this.currentUserIsUser) {
      return this.headers
    } else { // only user can do any actions on expenses
      return this.headers.filter(header => header.value != "actions")
    }
  }

  deletedExpense: ExpenseProjection | null = null
  showDeletionDialog = false

  deleteExpense(expense: ExpenseProjection) {
    this.deletedExpense = expense
    this.showDeletionDialog = true
  }

  @Emit()
  expenseDeleted(settlement: SettlementProjection): SettlementProjection {
    this.showDeletionDialog = false
    return settlement
  }

  hideDeletionDialog() {
    this.showDeletionDialog = false
  }

  updatedExpenseId: number | null = null
  showUpdateDialog = false

  editExpense(id: number) {
    this.updatedExpenseId = id
    this.showUpdateDialog = true
  }

  @Emit()
  expensePersisted(settlement: SettlementProjection): SettlementProjection {
    this.showUpdateDialog = false
    return settlement
  }

  hideUpdateDialog() {
    this.showUpdateDialog = false
  }
}
</script>