<template>
  <v-dialog :value="show" @input="cancel" max-width="500px" :persistent="deleting">
    <v-card>
      <v-card-title>
        <span>Usuwanie wydatku</span>
      </v-card-title>
      <v-card-text>
        Na pewno chcesz trwale usunąć wydatek na artykuł <strong>{{ itemLabel }}</strong> opłacony <strong>{{ whenBoughtLabel }}</strong>?
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="cancel" :disabled="deleting">Anuluj</v-btn>
        <v-btn
            color="error"
            text
            @click="deleteExpense"
            :loading="deleting"
            :disabled="deleting"
        >
          Usuń
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import {Component, Emit, Prop, Vue} from "vue-property-decorator"
import {AxiosError} from "axios"
import {notificationService} from "@/common/events/Notifications"
import {ApiError} from "@/common/events/Errors"
import {ExpenseProjection, SettlementProjection} from "@/settlements/data/SettlementProjections"
import {settlementService} from "@/settlements/services/SettlementService"
import {date} from "@/settlements/functions/Formatting"

@Component({
  name: "ExpenseDeletionDialog"
})
export default class ExpenseDeletionDialog extends Vue {

  @Prop()
  show!: boolean

  @Prop()
  expense: ExpenseProjection | null = null

  deleting = false

  get itemLabel() {
    return this.expense ? this.expense.item : ""
  }

  get whenBoughtLabel() {
    return this.expense ? date(this.expense.whenBought) : ""
  }

  deleteExpense() {
    this.deleting = true
    if (this.expense) {
      settlementService.tryDeleteExpense(this.expense.id)
          .then(response => {
            this.success(response.data)
          })
          .catch((error: AxiosError<Array<ApiError>>) => {
            notificationService.apiError(error, {
              closeable: true,
              onStatus: 400,
              timeout: 5000
            })
          })
          .finally(() => {
            this.deleting = false
          })
    } else { // at the point of user clicking the button, we expect the expense to be there
      notificationService.unknownTechnicalError()
    }
  }

  @Emit()
  success(settlement: SettlementProjection): SettlementProjection {
    return settlement
  }

  @Emit()
  cancel() {}
}
</script>