<template>
  <v-btn
      icon
      color="error"
      :disabled="isNotReceived || currentUserIsNotRecipient || saving || disabled"
      :loading="saving"
      @click="unconfirmPayment"
  >
    <v-icon>fa-undo-alt</v-icon>
  </v-btn>
</template>

<script lang="ts">
import {Component, Emit, Prop, Vue} from "vue-property-decorator"
import {PaymentProjection, SettlementProjection} from "@/settlements/data/SettlementProjections"
import {settlementService} from "@/settlements/services/SettlementService"
import {AxiosError} from "axios"
import {ApiError} from "@/common/events/Errors"
import {notificationService} from "@/common/events/Notifications"

@Component({
  name: "PaymentUnconfirmButton",
  components: {}
})
export default class PaymentUnconfirmButton extends Vue {

  @Prop()
  payment!: PaymentProjection

  @Prop()
  disabled!: boolean

  saving = false

  unconfirmPayment() {
    this.saving = true
    settlementService.tryConfirmPayment(this.payment.id, false)
        .then(response => {
          this.paymentStatusChanged(response.data)
        })
        .catch((error: AxiosError<Array<ApiError>>) => {
          notificationService.apiError(error, {
            closeable: true,
            timeout: 5000,
            onStatus: 400
          })
        })
        .finally(() => {
          this.saving = false
        })
  }

  get isNotReceived(): boolean {
    return this.payment.status != "RECEIVED"
  }

  get currentUserIsNotRecipient(): boolean {
    const currentUserId = this.$store.getters.accountDetailsInfo.id
    return this.payment.to.id != currentUserId
  }

  @Emit()
  paymentStatusChanged(settlement: SettlementProjection): SettlementProjection {
    return settlement
  }
}
</script>

<style scoped>

</style>