<template>
  <v-data-table
      :items="payments"
      :headers="filteredHeaders"
      class="elevation-2"
      hide-default-footer
      :items-per-page="-1"
      no-data-text="Brak płatności"
  >
    <template v-slot:top>
      <v-toolbar flat dense>
        <v-toolbar-title>Płatności</v-toolbar-title>
        <v-spacer/>
        <v-chip
            color="success"
            label
            text-color="white"
            v-if="settled"
        >
          <v-icon left small>
            fa-check
          </v-icon>
          Miesiąc rozliczony!
        </v-chip>
      </v-toolbar>
    </template>
    <template v-slot:item.amount="{ item }">
      <span
          v-if="currentUserIsPayer(item)"
          class="error--text"
          style="font-weight: bold"
      >
        {{ item.amount | zloty }}
      </span>
      <span
          v-else-if="currentUserIsRecipient(item)"
          class="success--text"
          style="font-weight: bold"
      >
        {{ item.amount | zloty }}
      </span>
      <span v-else>{{ item.amount | zloty }}</span>
    </template>
    <template v-slot:item.status="{ item }">
      <PaymentStatusLabel
          :status="item.status"
      />
    </template>
    <template v-slot:item.actions="{ item }">
      <PaymentUnconfirmButton
          v-if="isReceived(item) && currentUserIsUser"
          :payment="item"
          @payment-status-changed="paymentStatusChanged"
          :disabled="disabled"
      />
      <PaymentConfirmButton
          v-if="isNotReceived(item) && currentUserIsUser"
          :payment="item"
          @payment-status-changed="paymentStatusChanged"
          :disabled="disabled"
      />
    </template>
  </v-data-table>
</template>

<script lang="ts">
import {Component, Emit, Prop, Vue} from "vue-property-decorator"
import {PaymentProjection, SettlementProjection} from "@/settlements/data/SettlementProjections"
import {DataTableHeader} from "vuetify"
import {zloty} from "@/settlements/functions/Formatting"
import PaymentConfirmButton from "@/settlements/components/PaymentConfirmButton.vue"
import PaymentUnconfirmButton from "@/settlements/components/PaymentUnconfirmButton.vue"
import PaymentStatusLabel from "@/settlements/components/PaymentStatusLabel.vue"
import {Role} from "@/common/authentication/data/Role"

@Component({
  name: "PaymentsTable",
  components: {PaymentStatusLabel, PaymentUnconfirmButton, PaymentConfirmButton},
  filters: {
    zloty: zloty
  }
})
export default class PaymentsTable extends Vue {

  @Prop()
  payments!: Array<PaymentProjection>

  @Prop()
  disabled!: boolean

  @Prop()
  settled!: boolean

  headers: Array<DataTableHeader> = [
    {
      text: "Kto płaci ...",
      value: "from.name",
      sortable: false
    },
    {
      text: "... komu ...",
      value: "to.name",
      sortable: false
    },
    {
      text: "... ile?",
      value: "amount",
      sortable: false
    },
    {
      text: "Status płatności",
      value: "status",
      sortable: false
    },
    {
      text: "",
      value: "actions",
      sortable: false,
      align: "end"
    }
  ]

  get currentUserIsUser(): boolean {
    const roles: Array<Role> = this.$store.getters.accountDetailsInfo.roles
    return roles.includes("USER")
  }

  get filteredHeaders(): Array<DataTableHeader> {
    if (this.currentUserIsUser) {
      return this.headers
    } else { // only user can do any actions on payments
      return this.headers.filter(header => header.value != "actions")
    }
  }

  currentUserIsPayer(payment: PaymentProjection): boolean {
    const currentUserId = this.$store.getters.accountDetailsInfo.id
    return payment.from.id == currentUserId
  }

  currentUserIsRecipient(payment: PaymentProjection): boolean {
    const currentUserId = this.$store.getters.accountDetailsInfo.id
    return payment.to.id == currentUserId
  }

  @Emit()
  paymentStatusChanged(settlement: SettlementProjection): SettlementProjection {
    return settlement
  }

  isReceived(payment: PaymentProjection): boolean {
    return payment.status == "RECEIVED"
  }

  isNotReceived(payment: PaymentProjection): boolean {
    return payment.status != "RECEIVED"
  }
}
</script>