<template>
  <span
      :class="color"
      style="font-weight: bold"
  >
    {{ label }}
  </span>
</template>

<script lang="ts">
import {Component, Prop, Vue} from "vue-property-decorator"
import {PaymentStatus} from "@/settlements/data/SettlementProjections"

@Component({
  name: "PaymentStatusLabel",
  components: {}
})
export default class PaymentStatusLabel extends Vue {

  @Prop()
  status!: PaymentStatus

  get label(): string {
    return this.translate(this.status)
  }

  get color(): string {
    const config = {
      "FORECAST": "grey--text",
      "SETTLED": "warning--text", // or lime? lime could be for "SENT" (#84)
      "RECEIVED": "success--text"
    }
    return config[this.status]
  }

  translate(status: PaymentStatus): string { // todo #27
    const config = {
      "FORECAST": "Prognoza",
      "SETTLED": "Wyliczona",
      "RECEIVED": "Odebrana"
    }
    return config[status]
  }
}
</script>

<style scoped>

</style>