<template>
  <v-dialog v-model="show" max-width="500px" :persistent="saving">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
          icon
          color="error"
          :disabled="disabled"
          v-bind="attrs"
          v-on="on"
      >
        <v-icon>fa-unlink</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span>Usuwanie uczestnika</span>
      </v-card-title>
        <v-card-text>
          Na pewno chcesz usunąć uczestnika <strong>{{ user.name }}</strong> z bieżącego rozliczenia?
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="reset" :disabled="saving">Anuluj</v-btn>
          <v-btn
              color="error"
              text
              @click="unlinkParticipant"
              :loading="saving"
              :disabled="saving"
          >
            Usuń
          </v-btn>
        </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import {Component, Emit, Prop, Vue} from "vue-property-decorator"
import {SettlementProjection, SettlementUserProjection} from "@/settlements/data/SettlementProjections"
import {settlementService} from "@/settlements/services/SettlementService"
import {AxiosError} from "axios"
import {ApiError} from "@/common/events/Errors"
import {notificationService} from "@/common/events/Notifications"

@Component({
  name: "SettlementParticipantExclusionDialog",
  components: {}
})
export default class SettlementParticipantExclusionDialog extends Vue {

  show = false

  @Prop()
  user!: SettlementUserProjection

  @Prop()
  disabled!: boolean

  reset() {
    this.show = false
  }

  saving = false

  unlinkParticipant() {
    this.saving = true
    settlementService.tryIncludeUserInCurrentSettlement(this.user.id, false)
        .then(response => {
          this.participantUnlinked(response.data)
        })
        .catch((error: AxiosError<Array<ApiError>>) => {
          notificationService.apiError(error, {
            closeable: true,
            timeout: 5000,
            onStatus: 400
          })
        })
        .finally(() => {
          this.saving = false
        })
  }

  @Emit()
  participantUnlinked(settlement: SettlementProjection): SettlementProjection {
    return settlement
  }
}
</script>

<style scoped>

</style>