<template>
  <v-date-picker
      v-model="yearMonth.value"
      type="month"
      full-width
      :allowed-dates="isDateAllowed"
      @input="choice"
      color="primary"
      no-title
      elevation="2"
  >
  </v-date-picker>
</template>

<script lang="ts">
import {Component, Emit, Vue} from "vue-property-decorator"
import {YearMonth} from "@/settlements/data/YearMonth"

@Component({
  name: "SettlementPicker"
})
export default class SettlementPicker extends Vue {

  yearMonth = YearMonth.now()

  isDateAllowed(date: string): boolean { // yyyy-MM, because that's the format v-datepicker-month operates on
    const dateChunks = date.split("-")
    const now = new Date()

    const year = parseInt(dateChunks[0], 10)
    const currentYear = now.getFullYear()

    if (currentYear > year) {
      return true
    }

    if (currentYear < year) {
      return false
    }

    const month = parseInt(dateChunks[1], 10)
    const currentMonth = now.getMonth() + 1

    return currentMonth >= month
  }

  @Emit()
  choice(): YearMonth {
    return this.yearMonth
  }
}
</script>