<template>
  <v-dialog v-model="show" max-width="500px" :persistent="saving">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
          color="primary"
          v-bind="attrs"
          v-on="on"
          :disabled="disabled"
      >
        Dodaj uczestnika
      </v-btn>
    </template>
    <v-card>
      <LocalLoader :loading="loadingUsers"/>
      <v-card-title>
        <span>Dodawanie uczestnika</span>
      </v-card-title>
      <v-form ref="form">
        <v-card-text>
          <v-container>
            <v-autocomplete
                label="Użytkownik do dodania"
                :items="users"
                v-model="id"
                :rules="userRules"
                :disabled="saving"
            ></v-autocomplete>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="reset" :disabled="saving">Anuluj</v-btn>
          <v-btn
              color="primary"
              text
              @click="addParticipant"
              :loading="saving"
              :disabled="saving || error"
          >
            Zapisz
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import {Component, Emit, Prop, Vue, Watch} from "vue-property-decorator"
import {YearMonth} from "@/settlements/data/YearMonth"
import {notificationService} from "@/common/events/Notifications"
import {settlementService} from "@/settlements/services/SettlementService"
import {AxiosError} from "axios"
import {ApiError} from "@/common/events/Errors"
import {SettlementProjection} from "@/settlements/data/SettlementProjections"
import {notCurrentMonth} from "@/common/functions/Time"
import {AsyncSuccess} from "@/common/data/AsyncResponse"
import LocalLoader from "@/common/components/LocalLoader.vue"
import {VuetifyDictionaryEntry} from "@/common/data/VuetifyDictionaryEntry"

@Component({
  name: "SettlementParticipantInclusionDialog",
  components: {LocalLoader}
})
export default class SettlementParticipantInclusionDialog extends Vue {
  show = false
  loadingUsers = false
  saving = false
  id: number | null = null

  users: Array<VuetifyDictionaryEntry<number>> = []

  @Prop()
  disabled!: boolean

  userRules = [
    (value: number | null) => !!value || "Użytkownik jest wymagany!"
  ]

  get error(): boolean {
    return this.userRules.some(rule => rule(this.id) != true)
  }

  async getUsers() {
    this.loadingUsers = true
    const response = await settlementService.getUsersNotInCurrentSettlement() // experiment
    if (response instanceof AsyncSuccess) {
      this.users = response.body.map(user => ({
        text: `${user.name} (${user.login})`,
        value: user.id
      }))
    } else {
      notificationService.unknownServerError(response.error)
    }
    this.loadingUsers = false
  }

  addParticipant() {
    this.saving = true
    settlementService.tryIncludeUserInCurrentSettlement(this.id!)
        .then(response => {
          this.participantAdded(response.data)
        })
        .catch((error: AxiosError<Array<ApiError>>) => {
          notificationService.apiError(error, {
            closeable: true,
            timeout: 5000,
            onStatus: 400
          })
        })
        .finally(() => {
          this.saving = false
        })
  }

  @Watch("show", {deep: true})
  onDialogToggle() {
    const ref: any = this.$refs.form
    ref?.reset()
    if (this.show) {
      this.getUsers()
    }
  }

  reset() {
    this.show = false
  }

  @Emit()
  participantAdded(settlement: SettlementProjection): SettlementProjection {
    this.reset()
    return settlement
  }
}
</script>