<template>
  <v-data-table
      :items="sortedUsers"
      :headers="filteredHeaders"
      class="elevation-2"
      hide-default-footer
      :items-per-page="-1"
      no-data-text="Brak uczestników"
  >
    <template v-slot:top>
      <v-toolbar flat dense>
        <v-toolbar-title>Uczestnicy</v-toolbar-title>
        <v-spacer/>
        <SettlementParticipantInclusionDialog
            @participant-added="participantsChanged"
            v-if="currentUserIsAdmin"
            :disabled="disabled"
        />
      </v-toolbar>
    </template>
    <template v-slot:item.totalExpense="{ item }">
      {{ item.totalExpense | zloty }}
    </template>
    <template v-slot:item.actions="{ item }">
      <SettlementParticipantExclusionDialog
          :user="item"
          @participant-unlinked="participantsChanged"
          v-if="currentUserIsAdmin"
          :disabled="disabled"
      />
    </template>
  </v-data-table>
</template>

<script lang="ts">
import {Component, Emit, Prop, Vue} from "vue-property-decorator"
import {
  ExpenseProjection,
  SettlementProjection,
  SettlementUserProjection
} from "@/settlements/data/SettlementProjections"
import {DataTableHeader} from "vuetify"
import SettlementParticipantInclusionDialog from "@/settlements/components/SettlementParticipantInclusionDialog.vue"
import SettlementParticipantExclusionDialog from "@/settlements/components/SettlementParticipantExclusionDialog.vue"
import {Role} from "@/common/authentication/data/Role"
import {zloty} from "@/settlements/functions/Formatting"

@Component({
  name: "UsersTable",
  components: {SettlementParticipantExclusionDialog, SettlementParticipantInclusionDialog},
  filters: {
    zloty: zloty
  }
})
export default class UsersTable extends Vue {

  @Prop()
  users!: Array<SettlementUserProjection>

  // duck typing, please :D
  get sortedUsers(): Array<{id: number, name: string, totalExpense: number}> {
    if (!this.users) {
      return []
    }
    return this.users.map(user => ({
          id: user.id,
          name: user.name,
          totalExpense: this.totalExpense(user)
        }))
        .sort((a, b) => {
          if (a.totalExpense > b.totalExpense) {
            return -1
          }
          if (b.totalExpense > a.totalExpense) {
            return 1
          }
          return 0
        })
  }

  @Prop()
  expenses!: Array<ExpenseProjection>

  @Prop()
  disabled!: boolean

  headers: Array<DataTableHeader> = [
    {
      text: "Imię, lub pseudonim",
      value: "name",
      sortable: false
    },
    {
      text: "Suma wydatków",
      value: "totalExpense",
      sortable: false
    },
    {
      text: "",
      value: "actions",
      sortable: false,
      align: "end"
    }
  ]

  get currentUserIsAdmin(): boolean {
    const roles: Array<Role> = this.$store.getters.accountDetailsInfo.roles
    return roles.includes("ADMIN")
  }

  get filteredHeaders(): Array<DataTableHeader> {
    if (this.currentUserIsAdmin) {
      return this.headers
    } else { // only admin can do any actions (remove user from a settlement)
      return this.headers.filter(header => header.value != "actions")
    }
  }

  @Emit()
  participantsChanged(settlement: SettlementProjection): SettlementProjection {
    return settlement
  }

  totalExpense(user: SettlementUserProjection): number {
    let totalExpense = 0
    for (const expense of this.expenses) {
      if (expense.buyer.id == user.id) {
        totalExpense += expense.totalPrice
      }
    }
    return totalExpense
  }
}
</script>