<template>
  <v-container fluid pt-0 pb-0>
    <v-row>
      <v-col>
        <v-data-table
            :items="items.data"
            :headers="headers"
            :footer-props="{ 'items-per-page-options': [10, 15, 20, 30] }"
            :server-items-length="items.totalCount"
            :options.sync="paginationOptions"
            class="elevation-2"
            no-data-text="Brak artykułów"
        >
          <template v-slot:top>
            <v-toolbar flat dense>
              <v-toolbar-title>{{ title }}</v-toolbar-title>
              <v-spacer/>
              <ItemCreationDialog @new-item-added="getItems"/>
            </v-toolbar>
          </template>
          <template v-slot:item.assessable="{ item }">
            <ReadOnlyCheckbox :value="item.assessable"/>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-btn @click="editItem(item.id)" icon color="accent">
              <v-icon>fa-edit</v-icon>
            </v-btn>
            <v-btn @click="deleteItem(item)" icon color="error">
              <v-icon>fa-trash</v-icon>
            </v-btn>
          </template>
        </v-data-table>
        <ItemDeletionDialog
            :item="deletedItem"
            :show="showDeleteDialog"
            @success="onDeleteSuccess"
            @cancel="onDeleteCancel"
        />
        <ItemUpdateDialog
            :show="showEditDialog"
            :id="editedItemId"
            @item-updated="onEditSuccess"
            @cancel="onEditCancel"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import {Component, Vue, Watch} from "vue-property-decorator"
import {Page} from "@/common/pagination/Page"
import {DataOptions, DataTableHeader} from "vuetify"
import {ItemProjection} from "@/items/data/ItemProjection"
import {notificationService} from "@/common/events/Notifications"
import ReadOnlyCheckbox from "@/common/components/ReadOnlyCheckbox.vue"
import {itemService} from "@/items/services/ItemService"
import {translateVuetifyPagination} from "@/common/pagination/Pagination"
import ItemCreationDialog from "@/items/components/ItemCreationDialog.vue"
import ItemDeletionDialog from "@/items/components/ItemDeletionDialog.vue"
import ItemUpdateDialog from "@/items/components/ItemUpdateDialog.vue"
import {AxiosError} from "axios"
import {loadingService} from "@/common/events/Loading"

@Component({
  components: {ItemUpdateDialog, ItemDeletionDialog, ItemCreationDialog, ReadOnlyCheckbox},
  name: "Items"
})
export default class Items extends Vue {

  title = "Artykuły"

  items: Page<ItemProjection> = {
    data: [],
    pageIndex: 0,
    pageSize: 0,
    totalCount: 0,
    totalPageCount: 0
  }

  paginationOptions: DataOptions = {
    groupBy: [],
    groupDesc: [],
    itemsPerPage: 15,
    multiSort: false,
    mustSort: false,
    page: 1,
    sortBy: [],
    sortDesc: []
  }

  headers: Array<DataTableHeader> = [
    {
      text: "Nazwa",
      value: "name"
    },
    {
      text: "Łatwo ocenić, ile zostało",
      value: "assessable",
    },
    {
      text: "Zastosowanie",
      value: "purposeName",
      sortable: false // hmm todo?
    },
    {
      text: "Ostatnio zmodyfikowany przez",
      value: "lastModifiedBy",
      sortable: false // hmm todo?
    },
    {
      text: "",
      value: "actions",
      sortable: false,
      align: "end"
    }
  ]

  getItems() {
    const handle = loadingService.start()
    itemService.getItems(translateVuetifyPagination(this.paginationOptions))
        .then(response => {
          this.items = response.data
        })
        .catch((error: AxiosError) => {
          notificationService.unknownServerError(error)
        })
        .finally(() => {
          loadingService.stop(handle)
        })
  }

  deletedItem: ItemProjection | null = null
  showDeleteDialog = false

  deleteItem(item: ItemProjection) {
    this.deletedItem = item
    this.showDeleteDialog = true
  }

  onDeleteSuccess() {
    this.getItems()
    this.showDeleteDialog = false
  }

  onDeleteCancel() {
    this.showDeleteDialog = false
  }

  @Watch("paginationOptions", {deep: true})
  onPaginationOptionsChange() {
    this.getItems()
  }

  editedItemId: number | null = null
  showEditDialog = false

  editItem(id: number) {
    this.editedItemId = id
    this.showEditDialog = true
  }

  onEditSuccess() {
    this.getItems()
    this.showEditDialog = false
  }

  onEditCancel() {
    this.showEditDialog = false
  }

  mounted() {
    this.$store.commit("setScreenTitle", this.title)
  }
}
</script>
