<template>
  <v-combobox
      :loading="loading"
      :label="label"
      v-model="actualValue"
      @update:search-input="updateModel"
      :items="matchingItems"
      :rules="rules"
      :disabled="disabled"
      clearable
      clear-icon="fa-backspace"
  ></v-combobox>
</template>

<script lang="ts">
import {Component, Emit, Prop, Vue, Watch} from "vue-property-decorator"

@Component({
  name: "Combobox"
})
export default class Combobox extends Vue {

  @Prop({default: false})
  loading!: boolean

  @Prop()
  label!: string

  @Prop()
  value!: string

  @Prop()
  disabled!: boolean

  actualValue = this.value

  @Watch("value", {deep: true})
  onExternalValueChange() {
    this.actualValue = this.value
  }

  @Prop()
  rules!: Array<Function>

  @Prop()
  items!: Array<string>

  // vuetify, workaround for:
  // https://github.com/vuetifyjs/vuetify/issues/4679
  // https://github.com/vuetifyjs/vuetify/issues/5203
  // https://github.com/vuetifyjs/vuetify/issues/12893
  // etc (...as is the whole component, actually)
  updateModel(eventValue: string) {
    this.actualValue = eventValue
    this.input()
  }

  get matchingItems(): Array<string> {
    const name = this.actualValue
    return name == null ? this.items : this.items.filter(item => item.toLowerCase().includes(name.toLowerCase()))
  }

  @Emit()
  input() {
    return this.actualValue
  }
}
</script>