<template>
  <v-overlay :value="loading" color="#fff" opacity="0.7" z-index="10">
    <v-progress-circular
        indeterminate
        size="64"
        width="5"
        color="primary"
    ></v-progress-circular>
  </v-overlay>
</template>

<script lang="ts">
import {Component, Prop, Vue} from "vue-property-decorator"

@Component({
  name: "GlobalLoader"
})
export default class GlobalLoader extends Vue {
  @Prop()
  loading!: boolean
}
</script>