<template>
  <div>
    <v-icon color="primary" v-if="value">fa-check-square</v-icon>
    <v-icon color="primary" v-else>far fa-square</v-icon>
  </div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from "vue-property-decorator"

@Component({
  name: "ReadOnlyCheckbox"
})
export default class ReadOnlyCheckbox extends Vue {
  @Prop()
  value!: boolean
}
</script>