<template>
  <v-app>
    <NotificationBox/>
    <GlobalLoader :loading="loading"/>
    <v-app-bar app color="primary" dark clipped-left>
      <v-btn icon @click="toggleNavigation" v-if="renderNavigation">
        <v-icon>fas fa-bars</v-icon>
      </v-btn>

      <v-toolbar-title>{{ screenTitle }}</v-toolbar-title>

      <v-spacer></v-spacer>

      <HelpDialog/>
      <LanguageChoiceDialog/>
      <AccountDetailsDialog/>
      <LogoutDialog/>
    </v-app-bar>

    <v-main>
      <v-navigation-drawer
          v-model="showNavigation"
          app
          clipped
          v-if="renderNavigation"
      >
        <v-list>
          <v-list-item
              v-for="route in allowedRoutes"
              :key="route.label"
              link
              :to="route.path"
          >
            <v-list-item-icon>
              <v-icon>{{ route.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ route.label }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue"
import {Component} from "vue-property-decorator"
import AccountDetailsDialog from "@/app/components/AccountDetailsDialog.vue"
import LanguageChoiceDialog from "@/app/components/LanguageChoiceDialog.vue"
import HelpDialog from "@/app/components/HelpDialog.vue"
import LogoutDialog from "@/app/components/LogoutDialog.vue"
import {Role} from "@/common/authentication/data/Role"
import {heartbeat} from "@/common/events/Heartbeat"
import {eventBus} from "@/common/events/EventBus"
import NotificationBox from "@/app/components/NotificationBox.vue"
import {isNotEmpty} from "@/common/functions/Arrays"
import GlobalLoader from "@/common/components/GlobalLoader.vue"
import {NavigationRouteProjection, navigationRoutes} from "@/config/router"

@Component({
  components: {
    GlobalLoader,
    NotificationBox,
    LogoutDialog,
    HelpDialog,
    LanguageChoiceDialog,
    AccountDetailsDialog
  },
  name: "App"
})
export default class App extends Vue {

  showNavigation: boolean | null = null

  toggleNavigation() {
    this.showNavigation = !this.showNavigation
  }

  mounted() {
    heartbeat.start()
    eventBus.onLogout(this.resetNavigation)
  }

  get userIsLoggedIn(): boolean {
    return this.$store.getters.userIsLoggedIn
  }

  get renderNavigation(): boolean {
    return this.userIsLoggedIn && isNotEmpty(this.allowedRoutes)
  }

  routes: Array<NavigationRouteProjection> = navigationRoutes

  get allowedRoutes(): Array<NavigationRouteProjection> {
    const currentUserRoles: Array<Role> = this.$store.getters.userRoles
    return this.routes.filter(route => {
      return currentUserRoles.some(currentRole => route.allowedRoles.includes(currentRole))
    })
  }

  resetNavigation() {
    this.showNavigation = null
  }

  get loading(): boolean {
    return this.$store.getters.showGlobalLoader
  }

  get screenTitle(): string {
    return this.$store.getters.screenTitle
  }
}
</script>
