<template>
  <v-container fill-height fluid>
    <v-row justify="center">
      <v-sheet width="800px" rounded elevation="6">
        <div class="form">
          <h1>{{ title }}</h1>
          <v-text-field label="Stare hasło"
                        type="password"
                        v-model="oldPassword"
                        @keyup.enter="changePassword"
                        :rules="oldPasswordRules"
          ></v-text-field>
          <v-text-field label="Nowe hasło"
                        type="password"
                        v-model="newPassword1"
                        @keyup.enter="changePassword"
                        :error-messages="newPassword1Errors"
                        @input="newPassword1InputOrBlur = true"
                        @blur="newPassword1InputOrBlur = true"
          ></v-text-field>
          <v-text-field label="Potwierdź nowe hasło"
                        type="password"
                        v-model="newPassword2"
                        @keyup.enter="changePassword"
                        :error-messages="newPassword2Errors"
                        @input="newPassword2InputOrBlur = true"
                        @blur="newPassword2InputOrBlur = true"
          ></v-text-field>
          <v-btn color="primary" @click="changePassword" :disabled="error">Zmień hasło</v-btn>
        </div>
      </v-sheet>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator"
import {authenticationService} from "@/common/authentication/services/AuthenticationService"
import {PasswordChangeRequest} from "@/common/authentication/data/PasswordChangeRequest"
import {notificationService} from "@/common/events/Notifications"
import {AxiosError} from "axios"
import {ApiError} from "@/common/events/Errors"
import {Role} from "@/common/authentication/data/Role"
import {loadingService} from "@/common/events/Loading"

@Component({
  components: {},
  name: "ChangePassword"
})
export default class ChangePassword extends Vue {

  oldPassword = ""
  newPassword1 = ""
  newPassword2 = ""
  oldPasswordRules = [
    (value: string) => !!value || "Stare hasło jest wymagane!"
  ]
  newPassword1InputOrBlur = false
  newPassword2InputOrBlur = false

  get title() {
    const roles: Array<Role> = this.$store.getters.userRoles
    return roles.every(role => role == "RESET_PASSWORD") ? "Zmiana hasła (wymagana)" : "Zmiana hasła"
  }

  get newPassword1Errors(): string | null {
    if (!this.newPassword1InputOrBlur) {
      return null
    }
    return this.errorMessage(this.newPassword1)
  }

  get newPassword2Errors(): string | null {
    if (!this.newPassword2InputOrBlur) {
      return null
    }
    return this.errorMessage(this.newPassword2)
  }

  get newPasswordsDoNotMatch() {
    return this.newPassword1 != this.newPassword2
  }

  errorMessage(password: string) {
    if (!password) {
      return "Nowe hasło jest wymagane!"
    } else if (password.length < 5) {
      return "Nowe hasło musi mieć przynajmniej 5 znaków!"
    } else if (password.length > 50) {
      return "Nowe hasło musi mieć co najwyżej 50 znaków!"
    } else if (this.newPasswordsDoNotMatch) {
      return "Potwierdzenie nie zgadza się z nowym hasłem!"
    } else if (this.newPasswordEqualsOld) {
      return "Nowe hasło równa się staremu!"
    } else {
      return null
    }
  }

  get newPasswordEqualsOld() {
    return this.oldPassword && this.newPassword2 == this.oldPassword && this.newPassword1 == this.newPassword2
  }

  get error() {
    return this.newPasswordsDoNotMatch
        || this.newPasswordEqualsOld
        || this.newPassword1Errors != null
        || this.newPassword2Errors != null
        || !this.newPassword1InputOrBlur
        || !this.oldPassword
  }

  changePassword() {
    if (!this.error) {
      const handle = loadingService.start()
      authenticationService.tryChangePassword(new PasswordChangeRequest(this.oldPassword, this.newPassword1))
          .then(() => {
            authenticationService.logout()
          })
          .catch((error: AxiosError<Array<ApiError>>) => {
            notificationService.apiError(error, {
              closeable: true,
              onStatus: 400,
              timeout: 5000
            })
          })
          .finally(() => {
            loadingService.stop(handle)
          })
    }
  }

  mounted() {
    this.$store.commit("setScreenTitle", this.title)
  }
}
</script>

<style scoped>
.form {
  margin: 20px;
}
</style>
