<template>
  <v-container fill-height fluid>
    <v-row justify="center">
      <v-sheet width="500px" rounded elevation="6">
        <div class="form">
          <h1>Cześć, zaloguj się</h1>
          <v-text-field label="Login"
                        v-model="username"
                        @keyup.enter="login"
                        :rules="usernameRules"
          ></v-text-field>
          <v-text-field label="Hasło"
                        type="password"
                        v-model="password"
                        @keyup.enter="login"
                        :rules="passwordRules"
          ></v-text-field>
          <v-btn color="primary" @click="login" :disabled="error">Zaloguj</v-btn>
        </div>
      </v-sheet>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import {Component, Vue} from "vue-property-decorator"
import {authenticationService} from "@/common/authentication/services/AuthenticationService"
import {AuthenticationRequest} from "@/common/authentication/data/AuthenticationRequest"
import {notificationService} from "@/common/events/Notifications"
import {AxiosError} from "axios"
import {loadingService} from "@/common/events/Loading"

@Component({
  components: {},
  name: "Login"
})
export default class Login extends Vue {

  username = ""
  password = ""
  usernameRules = [
    (value: string) => !!value || "Login jest wymagany!"
  ]
  passwordRules = [
    (value: string) => !!value || "Hasło jest wymagane!"
  ]

  get error() {
    return this.usernameRules.some(rule => rule(this.username) != true) || this.passwordRules.some(rule => rule(this.password) != true)
  }

  login() {
    if (!this.error) {
      const handle = loadingService.start()
      authenticationService.tryLogin(new AuthenticationRequest(this.username, this.password))
          .then(response => {
            authenticationService.handleLoginSuccess(response.data)
          })
          .catch((error: AxiosError) => {
            if (error.response?.status == 401) {
              notificationService.notify({
                type: "error",
                message: "Nieudane logowanie! Sprawdź login i hasło. Możliwe też, że Twoje konto jest zablokowane.",
                closeable: false,
                timeout: 4000
              })
            } else {
              notificationService.unknownServerError(error)
            }
          })
          .finally(() => {
            loadingService.stop(handle)
          })
    }
  }

  mounted() {
    this.$store.commit("setScreenTitle", "")
  }
}
</script>

<style scoped>
.form {
  margin: 20px;
}
</style>
