<template>
  <div>
    <h1>{{ title }}</h1>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator"

@Component({
  components: {},
  name: "NotFound"
})
export default class NotFound extends Vue {

  title = "Nie ma takiej strony"

  mounted() {
    this.$store.commit("setScreenTitle", this.title)
  }
}
</script>
